.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%; 
  
}

/* .about__me {
  width: 79%;
  aspect-ratio: 1/0.7;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
  margin-left: 27%;
  margin-top: 0%;
}

.about__me-image .picture {
  margin-left: 0%;
  width: 100%;
  height: 50%;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image .picture:hover {
  transform: rotate(0);
} */

.about__cards {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* position: relative;
  left: -50%; */
  position: absolute;
  right:32%;
  gap: 1.5rem;
  
}

.about__card {
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary-variant),
    transparent
  );
  
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__card:hover {
  box-shadow: 0 0 20px #ece7e7;
}

/* css cube */

.wrap {
  position: relative;
  margin-top: 288px;
  margin-left: 15%;
  margin-bottom: 50%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  /* margin: auto; */
  position: absolute;
  left:125%;
  margin-top:30%;
}

.cube img {
  position: absolute;
  opacity: 0.9;
}

.cube .landing {
  border-radius: 0 0 0 0;
}

.cube img:nth-child(1) {
  transform: rotateY(0deg) translateZ(100px);
}

.cube img:nth-child(2) {
  transform: rotateY(90deg) translateZ(100px);
}

.cube img:nth-child(3) {
  transform: rotateY(180deg) translateZ(100px);
}

.cube img:nth-child(4) {
  transform: rotateY(-90deg) translateZ(100px);
}

.cube img:nth-child(5) {
  transform: rotateX(90deg) translateZ(100px);
}

.cube img:nth-child(6) {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes loop {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  animation: loop 10s linear infinite;
}

/* css cube */

/* Github Game */

/* #board {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 40px auto;
  border: 2px solid rgb(31, 202, 179);
  background: url("blue.jpg");
  background-size: 600px;
  background-position-x: center;
  overflow: hidden;
  border-radius: 1rem;
} */

/* #jet {
  position: absolute;
  width: 100%;
  height: 11vh;
  background: url("RedditLego.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  bottom: 0px;
} */



/* .bullets {
  position: absolute;
  bottom: 40px;
  left: 41%;
  width: 20px;
  height: 20px;
  background: url("bullet.png");
  background-size: contain;
  background-repeat: no-repeat;
} */

/* .rocks {
  position: absolute;
  top: 41px;
  width: 50px;
  height: 50px;
  background: url("llego.png");
  background-size: contain;
  background-repeat: no-repeat;
} */

/* .rocks1 {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50vh;
  font-family: "Poppins", sans-serif;
  background-size: contain;
  color: aliceblue;
} */

/* #sign {
  position: absolute;
  top: 65%;
  left: 53%;
  margin: 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #ecf008;
  margin-left: -21%;
} */

/* #points {
  position: absolute;
  top: 29%;
  left: 32%;
  margin: 40px;
  opacity: 1;
  font-size: 8em;
  color: rgb(19, 5, 14);
} */

/* Github Game */

/*---------Media Queries (medium devices)------------------*/

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  /* .about__me {
    width: 50%;
    margin-left: 3%;
    margin: 2rem auto 4rem 14rem;
    background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  } */

  .about__cards {
    margin-right: -16%;
  }

  /* #board {
    margin: 1rem 0 1.5rem;
    margin-left: 5%;
    width: 107%;
  } */

  /* .about__me-image .picture {
    width: 95%;
    margin-left: 3%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
  } */
}

/*---------Small Queries (Small devices)------------------*/

@media screen and (max-width: 600px) {
  /* .about__me {
    width: 65%;
    margin: 0rem auto 3rem 5rem; 
  } */

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-left: 51%;
    width: 99%;
  }

  /* #board {
    margin: 1rem 0 1.5rem;
    margin-left: 6%;
    width: 98%;
  }

  #points {
    margin-left: 6%;
  }

  #sign {
    margin-left: -28%;
  } */

  /* .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
    margin-right: -6%;
  } */

  /* .about__me-image .picture {
    width: 100%;
    margin-left: 0%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
  } */
}
