
/* Earth css --> */

#canvasContainer {
  width: 100vw;
  height: 100vh;
  padding-top:0%;
  margin-bottom: 0;
  margin-top: 0%;
  padding-left: 0%;
  position: absolute; 
  top: 14%;
}

/* Earth css --> */

/* canvasContainerAnimation css --> */

#canvasContainerAnimation {
  width: 33vw;
  height: 100vh;
  padding-top: 0%;
  margin-bottom: 0%;
  margin-top:0%;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 0%;
  padding-left: 0%;
  position: absolute; 
  left: 67%;
  top:-20%;
} 

/* canvasContainerAnimation css --> */

/* canvasContainerStateSpace css --> */

#canvasContainerSatelite {
  width: 100vw;
  height: 100vh;
  padding-top: 0%;
  margin-bottom: 0%;
  margin-top:0%;
  padding-left: 0%;
  position: absolute; 
  left: -38%;
  top:10%;
} 

/* canvasContainerSatelite css --> */


/* canvasContainerLego Astrounauts css --> */

#canvasContainerLego {
  width: 100vw;
  height: 100vh;
  padding-bottom: 12%;
  margin-bottom: -25%;
  padding-right: 6%;
  margin-top: -6%;
   
}


/* Moon css --> */

#canvasContainerMoon {
  width: 100vw;
  height: 100vh;
  padding-top: 0%;
  margin-bottom: 0%;
  position: absolute;  
  margin-top: 0%;
  padding-left: 0%;
  top: -12%;

}

/* Phoenix css --> Blue Astrounaut*/

#canvasContainerPhoenix {
  width: 100vw;
  height: 100vh;
  padding-top: 0%;
  position: absolute;  
  margin-top: 0%; 
  padding-left: 0%;
  top:40%
}

/* Avatar css --> Red Astrounaut */

#canvasContainerAvatar {
  width: 100vw;
  height: 100vh;
  padding-top: 0%;
  /*here to cahnge the position */ 
  margin-bottom: -70%;
  margin-top: -150%;
  padding-left: 0%;
  position: relative; 
  
}





/*---------Media Queries (medium devices)------------------*/

@media screen and (max-width: 1024px) {
  /* Earth css --> */

  #canvasContainer {
    width: 100vw;
    height: 100vh;
    /* width: 75%; */
    padding-top: 0%;
    margin-bottom: -211%;
    margin-left: 0%;
  }

  /* Moon css --> */

  #canvasContainerMoon {
    width: 75%;
    padding-top: 0%;
    margin-bottom: -364%;
    margin-left: 0%;
  }

  /* Phoenix css --> */

  #canvasContainerPhoenix {
    width: 75%;
    padding-top: 0%;
    margin-bottom: -31%;
    margin-left: 0%;
  }

  /* Avatar css --> */

  #canvasContainerAvatar {
    width: 75%;
    padding-top: 0%;
    margin-bottom: -960%;
    margin-left: 0%;
  }
}

/*---------Small Queries (Small devices)------------------*/

@media screen and (max-width: 600px) {
  /* Eath css --> */

  #canvasContainer {
    width: 100vw;
    height: 100vh;
    /* width: 75%; */
    padding-top: 0%;
    margin-bottom: -175%;
    margin-left: 0%;
    
  }

  /* Moon css --> */

  #canvasContainerMoon {
    width: 20vw;
    height: 50vh;
    padding-top: 0%;
    margin-bottom: -492%;
    margin-left: -2%;
  }

  /* Phoenix css --> */

  #canvasContainerPhoenix {
    width: 20vw;
    height: 50vh;
    padding-top: 0%;
    margin-bottom: -435%;
    margin-left: 0%;
  }

  /* Avatar css --> */

  #canvasContainerAvatar {
    width: 20vw;
    height: 50vh;
    padding-top: 0%;
    margin-bottom: -2430%;
    margin-left: 0%;
  }
}
