header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  margin-top: -5%;
}

/* ------------ CTA ----------*/
.cta {
  margin-top: 0.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/* ------------ Header Socials ----------*/

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 3rem;
  background: var(--color-primary);
}

/* ------------ ME ----------*/

.Me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 25rem;
  position: absolute;
  left: calc(51% - 11rem);
  margin-top: 8rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 0rem 0.5rem 4.5rem;
}

.Me:hover {
  box-shadow: 0 0 30px #1c6dca;
}

/* ------------ Scroll Down ----------*/

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/*---------Media Queries (medium devices)------------------*/

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }

  .header__container h1 {
    margin-left: 16%;
    font-size: 2.5rem;
    font-style: Arial;
    color: var(--color-primary);
   
  }

  .header__container h3 {
    margin-left: 16%;
    font-style: Arial;
    
    
  }

  .header__container h4 {
    margin-left: 16%;
    font-style: Arial;
    
    
  }

  .Me {
    left: calc(50% - 11rem);
    margin-left: 11%;
  }

  .cta {
    margin-left: 14%;
  }

  .scroll__down {
    right: -9.3rem;
  }
}

/*---------Small Queries (Small devices)------------------*/

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }

  .header__container h1 {
    margin-left: 6%;
    font-size: 2.5rem;
    font-style: Arial;
    color: var(--color-primary);
   
  }

  .header__container h3 {
    margin-left: 10%;
    font-style: Arial;
    
    
  }

  .header__container h4 {
    margin-left: 8%;
    font-style: Arial;
    
    
  }

  .cta {
    margin-left: 16%;
  }

  .Me {
    left: calc(55% - 11rem);
    margin-left: 1%;
  }
}
